@charset "utf-8";
/* CSS Document */
/***** RESET CSS *****/
@media screen {
* { margin: 0; padding: 0; }
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-weight: inherit;
font-style: inherit;
font-size: 100%;
font-family: inherit;
vertical-align: baseline;
}

ul, ol {list-style: none;}
strong {font-weight: bold;}

article, aside, figure, footer, header, hgroup, menu, nav, section { display: block; }

.group:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.group { display: inline-block; clear: both; }
/* start commented backslash hack \*/ * html .group { height: 1%; } .group { display: block; } /* close commented backslash hack */

body { font: 12px/2 "Helvetica Neue",Helvetica,Arial,sans-serif;}

/*
TYPOGRAPHY
*/
h1, h2, h3, h4, h5 {}
a img { border: 0; }
a {color: #ce9702; text-decoration: none;}
.zoomer:active { top: 0; }
/* end screen */

/***** HEADER *****/
#container {margin:0 auto; width:900px;}
#header {height: 200px; background: url(../images/header.jpg) no-repeat top left; position: relative;}
#header h2 {text-indent: -99999px;}
#menu-bar {position: absolute; bottom: -10px; left: 0px; float:left; margin: 0 0 10px 0;}
#menu-bar li {float:left;}
#menu-bar li a {display:block; float:left; padding: 0px 10px; font-size:16px; color: #F3D74F;}
#menu-bar li a:hover {color:white;}

/***** MAIN STRUCTURE *****/
#content-wrap {width:100%; overflow:hidden; margin: 10px 0; border-bottom: 2px solid #0F699D;}
#first-sidebar {width: 180px; float:left;}
#main-content {width: 528px; margin: 0px 5px; float:left;}
#second-sidebar {width: 180px; float:right;}
.typical {margin: 0 0 10px 0; border-bottom: 1px dotted #55A1D2; padding-bottom: 10px;}
.typical h2 {height: 30px; background-color: #0F669B; font-size: 14px; text-align: center; font-weight: bold; color: #F3D74F; -moz-border-radius: 5px 5px 0px 0px; -webkit-border-radius: 5px 5px 0px 0px;}
.typical img {margin-top: 10px;}

/***** MAIN NAV *****/
#main-nav li {position: relative;}
#main-nav li a {color: #0F699D; display: block; border: 1px solid #55A1D2; padding: 0 0 0 10px; font-size: 14px; margin: -1px 0 0 0;}
#main-nav li a:hover {color: #F2D64E; background-color: #55A1D2;}
#main-nav li ul {position: absolute; top: 1px; left: 179px; display: none;}
#main-nav li:hover ul {display: block; width: 100%;}

/***** LOGIN *****/
#login {border: 1px solid #55A1D2; padding: 5px 0 10px 10px; color: #0F699D;}
#login label {padding-bottom: 5px;}
#login input {padding: 3px 0;}
#login a {color: #0F699D;}
#login li:first-child {padding-top: 5px;}
#login a:hover {color: #F2D64E;}
#login #submit {padding: 2px 10px; margin: 5px 0 0 50px;}
#login #user {width: 157px;}
#login #pass {width: 157px;}

/***** FOOTER *****/
#footer {width: 100%; overflow: hidden; border-bottom: 2px solid #F0F0F0; padding-bottom: 15px;}
.ftypical {width: 200px; float: left; margin: 0 25px 0 0px;}
.ftypical h2 {font-size: 14px; color: #0F699D; border-top: 1px dashed #0F699D; border-bottom: 1px dashed #0F699D; font-weight: bold;}
