@charset "utf-8";
/* CSS Document */
/***** RESET CSS *****/
@media screen {
* { margin: 0; padding: 0; }
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-weight: inherit;
font-style: inherit;
font-size: 100%;
font-family: inherit;
vertical-align: baseline;
}

ul, ol {list-style: none;}
strong {font-weight: bold;}

article, aside, figure, footer, header, hgroup, menu, nav, section { display: block; }

.group:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.group { display: inline-block; clear: both; }
/* start commented backslash hack \*/ * html .group { height: 1%; } .group { display: block; } /* close commented backslash hack */

body { font: normal 10px/32px Arial, sans-serif; background: url(../images/bg.png) repeat;}

/*
TYPOGRAPHY
*/
h1, h2, h3, h4, h5 {}
a img { border: 0; }
a {color: #ce9702; text-decoration: none;}
.zoomer:active { top: 0; }
/* end screen */

/***** HEADER *****/
#container {margin:0 auto; width:900px;}
#header {height: 200px; background: url(../images/header.jpg) no-repeat top left; position: relative;}
#header h2 {text-indent: -99999px;}
#menu-bar {position: absolute; bottom: -10px; left: 0px; float:left; margin: 0 0 10px 0;}
#menu-bar li {float:left;}
#menu-bar li a {display:block; float:left; padding: 0px 10px; font-size:16px; color: #F3D74F;}
#menu-bar li a:hover {color:white;}

/***** MAIN STRUCTURE *****/
#content-wrap {width:100%; overflow:hidden; margin: 10px 0; border-bottom: 2px solid #0F699D;}
#first-sidebar {width: 180px; float:left;}
#main-content {width: 528px; margin: 0px 5px; float:left;}
#second-sidebar {width: 180px; float:right;}
.typical {margin: 0 0 10px 0; border-bottom: 1px dotted #55A1D2; padding-bottom: 10px;}
.typical h2 {height: 30px; background-color: #0F669B; font-size: 14px; text-align: center; font-weight: bold; color: #F3D74F; -moz-border-radius: 5px 5px 0px 0px; -webkit-border-radius: 5px 5px 0px 0px;}
.typical img {margin-top: 10px;}

/***** MAIN NAV *****/
#main-nav li {position: relative;}
#main-nav li a {color: #0F699D; display: block; border: 1px solid #55A1D2; padding: 0 0 0 10px; font-size: 14px; margin: -1px 0 0 0;}
#main-nav li a:hover {color: #F2D64E; background-color: #55A1D2;}
#main-nav li ul {position: absolute; top: 1px; left: 179px; display: none;}
#main-nav li:hover ul {display: block; width: 100%;}

/***** LOGIN *****/
#login {border: 1px solid #55A1D2; padding: 5px 0 10px 10px; color: #0F699D; font-size: 14px;}
#login label {padding-bottom: 5px;}
#login input {padding: 3px 0;}
#login a {color: #0F699D;}
#login li:first-child {padding-top: 5px;}
#login a:hover {color: #F2D64E;}
#login #submit {padding: 2px 10px; margin: 5px 0 0 50px;}
#login #user {width: 157px;}
#login #pass {width: 157px;}

/***** FOOTER *****/
#footer {width: 100%; overflow: hidden; border-bottom: 2px solid white; padding-bottom: 15px; font-size: 14px; line-height: 1.8em;}
.ftypical {width: 200px; float: left; margin: 0 25px 0 0px;}
.ftypical h2 {font-size: 14px; color: #0F699D; border-top: 1px dashed #0F699D; border-bottom: 1px dashed #0F699D; font-weight: bold;}
#copyright {font-size: 12px;}

/***** ACCORDION MENU *****/
.accordion_menu li > a {
    display: block; position: relative;
    min-width: 110px; height: 30px;
    padding: 0 10px 0 10px;
    font-size: 12px;
    background: #0F669B; color: #F3D74F;
    background: -moz-linear-gradient(top,  #3A97D0 0%, #0F669B 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3A97D0), color-stop(100%,#0F669B));
    background: -webkit-linear-gradient(top,  #3A97D0 0%,#0F669B 100%);
    background: -o-linear-gradient(top,  #3A97D0 0%,#0F669B 100%);
    background: -ms-linear-gradient(top,  #3A97D0 0%,#0F669B 100%);
    background: linear-gradient(top,  #3A97D0 0%,#0F669B 100%);
    -webkit-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
    -moz-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
    box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
}
.accordion_menu > li:hover > a,
.accordion_menu > li:target > a,
.accordion_menu > li > a.active {
    text-shadow: 1px 1px 1px rgba(255,255,255, .2);
    background: #0F669B; color: #F3D74F;
    font-weight: bold;
    background: -moz-linear-gradient(top,  #3A97D0 0%, #0F669B 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3A97D0), color-stop(100%,#0F669B));
    background: -webkit-linear-gradient(top,  #3A97D0 0%,#0F669B 100%);
    background: -o-linear-gradient(top,  #3A97D0 0%,#0F669B 100%);
    background: -ms-linear-gradient(top,  #3A97D0 0%,#0F669B 100%);
    background: linear-gradient(top,  #3A97D0 0%,#0F669B 100%);
    -webkit-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
    -moz-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
    box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
}

/***** SUB MENU *****/
.sub-menu li a {
    padding-left:40px;
    background: #e5e5e5;color: #797979;
    border-bottom: 1px solid #c9c9c9;
    text-shadow: 1px 1px 0px rgba(255,255,255, .2);
    -webkit-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
    -moz-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
    box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
}
.sub-menu li:hover a { background: #efefef; }
.sub-menu li:last-child a { border: none; }
.sub-menu em {
    position: absolute; top: 0; left: 0;
    margin-left: 14px; color: #a6a6a6;
    font-size: 12px;
}
.accordion_menu li > .sub-menu { display: none;}
.accordion_menu li:target > .sub-menu { display: block;}

